<IfModule mod_status.c>
        <Location /server-status>
                SetHandler server-status
                Require ip {{ apache_status_subnet }}
        </Location>

        ExtendedStatus On
</IfModule>
